<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyDx4Db5WN5bIB3z75DSK84QWMdtv1alcQA",
    authDomain: "test-5d780.firebaseapp.com",
    databaseURL: "https://test-5d780.firebaseio.com",
    projectId: "test-5d780",
    storageBucket: "test-5d780.appspot.com",
    messagingSenderId: "15528782568",
    appId: "1:15528782568:web:8a3b6c6074ce2e351df75d",
    measurementId: "G-SQ9N4BTNFW"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>
